In [95]:
# Downloading dependencies
# importing required libraries 
# !pip  install "camelot-py[cv]"
# !apt install python3-tk ghostscript
import camelot
import pandas as pd

In [ ]:
#ghostscript These dependencies for camelot library

In [96]:
!which gas

In [98]:
tables = camelot.read_pdf('/content/Charlie Smith-20201103_175028.pdf')

In [111]:
tables

In [109]:
#exporting into the html format
# tables.export("foo.html", f="html")

In [123]:
#Importing json Format 
#import json
# with open("data2.json", "w") as f:
#     f.write(json.dumps(tabels, indent=7))

TypeError: ignored

In [99]:
#move to csv file for data operations
tables[0].to_csv("foo.csv")

In [100]:
df = pd.read_csv('foo.csv')
df = df.replace('\n',' ', regex=True)

In [101]:
df.shape

(5, 7)

In [102]:
df.head()

   StartDate  ... Unnamed: 6
0        NaN  ...     Active
1        NaN  ...     Active
2        NaN  ...     Active
3        NaN  ...     Active
4        NaN  ...     Active

[5 rows x 7 columns]

In [103]:
# taking the particular column what i want from the data Frame
df['Medication']

0                          Digoxin 250 MCG Oral Tablet
1             Ciprofloxacin 400 MG In 200 ML Injection
2                          Lisinopril 5 MG Oral Tablet
3                       Pioglitazone 30 MG Oral Tablet
4    Metformin Hcl 750 MG 24HR Extended Release Ora...
Name: Medication, dtype: object

In [105]:
# by using slicing methods to get upto range iloc[row slicing, column slicing]  
print(df.iloc [0:5, 1:2])

                                          Medication
0                        Digoxin 250 MCG Oral Tablet
1           Ciprofloxacin 400 MG In 200 ML Injection
2                        Lisinopril 5 MG Oral Tablet
3                     Pioglitazone 30 MG Oral Tablet
4  Metformin Hcl 750 MG 24HR Extended Release Ora...

In [ ]:
# or export all tabels in the pdf as in a zip
#tables.export("foo.csv", f="csv", compress=True)